@using Microsoft.AspNet.Identity
@{
    /**/

    ViewBag.Title = "Details";
}
<link rel="stylesheet" href="~/Content/styles.css">
&nbsp;

&nbsp;



<div class="jumbotron">



    <div class="container text-center">
        <div class="text-left">
            <a href="javascript:history.back()">Back</a>
        </div>

        <table class="table table-borderless" style="display: none;" id="legendTable">
            <tr>
                <th class="tableHead"><img src="~/Content/QP1.png" /></th>
                <th class="tableHead"><img src="~/Content/QP2.png" /></th>
                <th class="tableHead"><img src="~/Content/QP3.png" /></th>
                <th class="tableHead"><img src="~/Content/QP4.png" /></th>
                <th class="tableHead"><img src="~/Content/QP5.png" /></th>
            </tr>

            <tr>
                <td class="tableData">extremely quiet</td>
                <td class="tableData">pretty quiet</td>
                <td class="tableData">average</td>
                <td class="tableData">loud</td>
                <td class="tableData">extremely loud</td>
            </tr>
        </table>
        <h4>Quiet Place Meter (@ViewBag.Reviews.Count reviews):</h4>

        @{
            if (ViewBag.Reviews.Count != 0)
            {

                if (ViewBag.Score == 5)
                {
                    <img src="~/Content/QP1.png" style="height:100px; width:auto;" />
                }
                else if (ViewBag.Score == 4)
                {
                    <img src="~/Content/QP2.png" style="height:100px; width:auto;" />
                }
                else if (ViewBag.Score == 3)
                {
                    <img src="~/Content/QP3.png" style="height:100px; width:auto;" />
                }
                else if (ViewBag.Score == 2)
                {
                    <img src="~/Content/QP4.png" style="height:100px; width:auto;" />
                }
                else if (ViewBag.Score == 1)
                {
                    <img src="~/Content/QP5.png" style="height:100px; width:auto;" />
                }<br />


                <input type="button" onclick="showLegend()" class="text-center btn btn-default" value="What Does This Mean?" id="legendButton" />

            }

            else
            {
                <div class="container text-center">
                    <form action="~/Reviews/Create">
                        <input type="hidden" value="@ViewBag.Data.id" id="id" name="id" />
                        <input type="hidden" value="@ViewBag.Data.name" id="name" name="name" />
                        <input type="submit" value="Be the First to Review!" class="btn btn-primary" />
                    </form>
                </div>
            } <br />


        }

        <h1>@ViewBag.Data.name</h1>

        <input type="hidden" value="@User.Identity.GetUserId()" id="UserID" />

        <h3>
            @ViewBag.Data["location"]["address1"], @ViewBag.Data["location"]["city"],
            @ViewBag.Data["location"]["state"], @ViewBag.Data["location"]["zip_code"]
        </h3><br />

        <div>
            @if (ViewBag.Data.image_url == "")
            {
                <img src="~/Content/QPLogoBlack.png" style="height:100px; width:auto;" />
            }
            else
            {
                <img src="@ViewBag.Data.image_url" style="height:300px; width:300px; border-radius: 100%; border: 1px solid black;" /><br />
            }
        </div>
    </div><br />


    @if (ViewBag.Score != 0)
    {

        <table class="table table-borderless table-condensed table-hover">

            <tr>
                <th style="text-align: center; vertical-align: auto; background-color:lightgray;" width="33%">Quiet Place Certified Review</th>
                <th style="text-align: center; vertical-align: auto; background-color:lightgray;" width="34%">Quiet Place Comment</th>
                <th style="text-align: center; vertical-align: auto; background-color:lightgray;" width="33%">Quiet Place Meter</th>
            </tr>


            @for (int i = 0; i < ViewBag.Reviews.Count; i++)
            {
                <tr>
                    <td style="text-align: left; vertical-align: auto;">QP Reviewer @(i + 1)</td>
                    <td style="text-align: left; vertical-align: auto;">
                        @if (@ViewBag.Reviews[i].Comment == null)
                        {
                            <p1><em>no comment</em></p1>
                        }
                        else
                        {
                            @ViewBag.Reviews[i].Comment
                        }
                    </td>
                    <td style="text-align: center; vertical-align: auto;">

                        @if (ViewBag.Reviews[i].WallScore == 5)
                        {
                            <img src="~/Content/QP1.png" style="height:35px; width:auto;" />
                        }
                        else if (ViewBag.Reviews[i].WallScore == 4)
                        {
                            <img src="~/Content/QP2.png" style="height:35px; width:auto;" />
                        }
                        else if (ViewBag.Reviews[i].WallScore == 3)
                        {
                            <img src="~/Content/QP3.png" style="height:35px; width:auto;" />
                        }
                        else if (ViewBag.Reviews[i].WallScore == 2)
                        {
                            <img src="~/Content/QP4.png" style="height:35px; width:auto;" />
                        }
                        else if (ViewBag.Reviews[i].WallScore == 1)
                        {
                            <img src="~/Content/QP5.png" style="height:35px; width:auto;" />
                        }
                    </td>
                </tr>
            }
        </table>

        <div class="container text-center">
            <form action="~/Reviews/Create">
                <input type="hidden" value="@ViewBag.Data.id" id="id" name="id" />
                <input type="hidden" value="@ViewBag.Data.name" id="name" name="name" />
                <input type="submit" value="Add a Review" class="btn btn-primary" onclick="return AlreadyReviewed()" />
            </form>
        </div>
    }
    &nbsp;

    @foreach (var r in ViewBag.YelpReviews)
    {

        string yelpReview = (string)r.text;
        string yelpReviewLower = yelpReview.ToLower();
        if (yelpReviewLower.Contains("noise") || (yelpReviewLower.Contains("sound")) || (yelpReviewLower.Contains("loud")) || (yelpReviewLower.Contains("quiet")) || (yelpReviewLower.Contains("yell")) || (yelpReviewLower.Contains("whisper")) || (yelpReviewLower.Contains("shout")))
        {

            <p><a href="@ViewBag.Data.url" target="_blank">View this business on <img src="~/Content/yelp.png" style="height: 30px; width: auto;" /></a></p>

            <table class="table table-borderless table-condensed table-hover">
                <tr>
                    <th style="text-align: center; vertical-align: auto; background-color:lightcoral;" width="33%">User</th>
                    <th style="text-align: center; vertical-align: auto; background-color:lightcoral;" width="34%">Comment</th>
                    <th style="text-align: center; vertical-align: auto; background-color:lightcoral;" width="33%">Yelp Rating</th>
                </tr>
                <tr>
                    <td><span><img src="@r.user.image_url" style="height:50px; width:auto;" />  @r.user.name</span></td>
                    <td>
                        @r.text
                    </td>
                    <td style="text-align: center; vertical-align: auto;">
                        @if (r.rating == 5)
                        {
                            <img src="~/Content/regular_5.png" />
                        }
                        else if (r.rating == 4.5)
                        {
                            <img src="~/Content/regular_4_half.png" />
                        }
                        else if (r.rating == 4)
                        {
                            <img src="~/Content/regular_4.png" />
                        }
                        else if (r.rating == 3.5)
                        {
                            <img src="~/Content/regular_3_half.png" />
                        }
                        else if (r.rating == 3)
                        {
                            <img src="~/Content/regular_3.png" />
                        }
                        else if (r.rating == 2.5)
                        {
                            <img src="~/Content/regular_2_half.png" />
                        }
                        else if (r.rating == 2)
                        {
                            <img src="~/Content/regular_2.png" />
                        }
                        else if (r.rating == 1.5)
                        {
                            <img src="~/Content/regular_1_half.png" />
                        }
                        else if (r.rating == 1)
                        {
                            <img src="~/Content/regular_1.png" />
                        }
                        else if (r.rating == 0)
                        {
                            <img src="~/Content/regular_0.png" />
                        }
                        else
                        {
                            @r.rating
                        }

                    </td>
                </tr>
            </table><br />
        }

    }


</div>



<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>

<div id="map"></div>
<script>

// Initialize and add the map
function initMap() {
    // The location of business

    var uluru = {lat: @ViewBag.Data["coordinates"]["latitude"], lng: @ViewBag.Data["coordinates"]["longitude"]};
    // The map, centered at Business
    var map = new google.maps.Map(
    document.getElementById('map'), {zoom: 15, center: uluru});
    // The marker, positioned at Business
    var marker = new google.maps.Marker({position: uluru, map: map});
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBr3luFOAqzGZTAQb6YtRIJCztsoI_-Wpo&callback=initMap">
</script>

<script>
    function AlreadyReviewed() {
        alert("I'm running!");
        var id = document.getElementById("UserID").value

        for (var i = 0; i < ViewBag.Reviews.Count; i++) {
            if (!ViewBag.Reviews[i].id == id) {
                return true;
            }

            else {
                return false;
            }
        }

</script>

@*this hides or shows the legend based on button click*@
<script>
    function showLegend() {
        var table = document.getElementById("legendTable");
        var button = document.getElementById("legendButton");
        if (table.style.display === "none") {
            table.style.display = "block";
            button.value = "Hide Legend";

        }
        else {
            table.style.display = "none";
            button.value = "What Does This Mean?";

        }
    }
</script>



