
@{
    ViewBag.Title = "Details";
}


<a href="javascript:history.back()">Back</a>
<h1>@ViewBag.Data</h1>

<h3>
    @ViewBag.Data["location"]["address1"], @ViewBag.Data["location"]["city"],
    @ViewBag.Data["location"]["state"], @ViewBag.Data["location"]["zip_code"]
</h3>
<h4>Overall Wall Score: <em>@ViewBag.Score </em></h4>



<div>
    <img src="@ViewBag.Data.image_url" style="height:300px; width:auto;" />
</div>

<table class="table table-bordered">

    <tr>
        <th>Thin Walls Certified Review</th>
        <th>Comment</th>
        <th>Score</th>
    </tr>

    @for (int i = 0; i < ViewBag.Reviews.Count; i++)
    {
    <tr>
        <td>TW Reviewer @(i+1)</td>
        <td>@ViewBag.Reviews[i].Comment</td>
        <td>@ViewBag.Reviews[i].WallScore</td>
    </tr>

    }
</table>


<form action="~/Reviews/Create">
    <input type="hidden" value="@ViewBag.Data.id" name="id" />
    <input type="hidden" value="@ViewBag.Data.name" name="name" />
    <input type="hidden" value="@ViewBag.UserID" name="userId" />
    <input type="submit" value="Leave Review" class="btn btn-primary" />

</form>



<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>

<div id="map"></div>
<script>

// Initialize and add the map
function initMap() {
    // The location of business

    var uluru = {lat: @ViewBag.Data["coordinates"]["latitude"], lng: @ViewBag.Data["coordinates"]["longitude"]};
    // The map, centered at Business
    var map = new google.maps.Map(
    document.getElementById('map'), {zoom: 15, center: uluru});
    // The marker, positioned at Business
    var marker = new google.maps.Marker({position: uluru, map: map});
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBr3luFOAqzGZTAQb6YtRIJCztsoI_-Wpo&callback=initMap">
</script>



