@{
    ViewBag.Title = "Home Page";
}

<table class="table table-bordered table table-striped">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Address</th>
        @*<th>City</th>
        <th>Rating</th>*@
    </tr>
    @for (int i = 0; i < ViewBag.Data.Count; i++)

    {

        <tr>
            @*<td>@ViewBag.Data[i].id</td>*@
            <td><img src="@ViewBag.Data[i].image_url" style="height:100px; width:auto;" /></td>
            <td>@ViewBag.Data[i].name</td>
            <td>
                @ViewBag.Data[i]["location"]["address1"], @ViewBag.Data[i]["location"]["city"],
                @ViewBag.Data[i]["location"]["state"], @ViewBag.Data[i]["location"]["zip_code"]
            </td>

            @*<td>@ViewBag.Data[i].rating</td>*@
        </tr>


    }
</table>