
@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

<table class="table table-bordered table table-striped">
    <tr>
        @*<th></th>
            <th>Name</th>
            <th>Address</th>*@
        @*<th>City</th>
            <th>Rating</th>*@
    </tr>
    @for (int i = 0; i < ViewBag.Data.Count; i++)

    {

        <tr>
            @*<td>@ViewBag.Data[i].id</td>*@
            <td><img src="@ViewBag.Data[i].image_url" style="height:100px; width:auto;" /></td>
            @*<td>@Html.ActionLink("ViewBag.Data[i].name", "Details", new { @ViewBag.Data[i].name })</td>*@
            <td><a href="~/Home/Details/@ViewBag.Data[i].id">@ViewBag.Data[i].name</a></td>
            <td>
                @ViewBag.Data[i]["location"]["address1"], @ViewBag.Data[i]["location"]["city"],
                @ViewBag.Data[i]["location"]["state"], @ViewBag.Data[i]["location"]["zip_code"]
            </td>           
        </tr>
    }
</table>

