
@{
    ViewBag.Title = "Results";


    @ViewBag.Error
    @ViewBag.ErrorDescription

    <div class="jumbotron">
        <div class="container text-center">
            <form action="~/Home/Search" group="form-group" method="get">
                <label>
                    <input type="text" name="name" class="form-control" placeholder="Business Name" style="width: 150px;" />
                </label>
                <label>
                    <input type="text" name="location" class="form-control" placeholder="City, State" style="width: 150px;" />
                </label>
                <label>
                    <input type="text" name="zipcode" class="form-control" placeholder="ZipCode" style="width: 150px;" />
                </label>

                <label>
                    <select name="category" style="width: 110px; background-color: lightgray;">
                        <option disabled selected value="">all</option>
                        <option value="apartments">Apartments</option>
                        <option value="hotels">Hotels</option>
                        <option value="restaurants">Restaurants</option>
                        <option value="cafes">Cafes</option>

                </select>
            </label>
                <label>
                    <select name="radius" style="width: 110px; background-color: lightgray;">                       
                        <option value="500">within a few blocks</option>
                        <option value="8050">within a few miles</option>
                        <option value="32200">within 20 miles</option>
                    </select>
                </label>

                <input type="submit" value="Search" class="btn btn-primary" />
            </form>
        </div>
    </div>


    if (ViewBag.Data.Count == 0)
    {
        <div class="container text-center">
            <h1><em>No Results</em></h1>
        </div>
    }
    else
    {

        <table class="table table-bordered table table-striped">

            @for (int i = 0; i < ViewBag.Data.Count; i++)

            {


                <tr>                   
                    <td>
                        @if (ViewBag.Data[i].image_url == "")
                        {
                            <img src="~/Content/QPLogoBlack.png" style="height:100px; width:auto;" />
                        }
                        else
                        {
                            <img src="@ViewBag.Data[i].image_url" style="height:100px; width:auto;" /><br />
                        }                       
                    </td>                  
                    <td><a href="~/Home/Details/@ViewBag.Data[i].id">@ViewBag.Data[i].name</a></td>
                    <td>
                        @ViewBag.Data[i]["location"]["address1"], @ViewBag.Data[i]["location"]["city"],
                        @ViewBag.Data[i]["location"]["state"], @ViewBag.Data[i]["location"]["zip_code"]
                    </td>
                  
                    <td>
                        <!--Logic for the wall score goes here-->
                        @{

                            var scoreKey = ViewBag.Data[i].id.Value;
                        }
                        @if (ViewBag.Scores.ContainsKey(scoreKey))
                        {
                            <text>
                                @ViewBag.Scores[scoreKey]
                            </text>
                        }

                    </td>
                </tr>
            }
        </table>
    }
}




