@using Microsoft.AspNet.Identity
@model ThinWalls.Models.Review


@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h1>@Html.DisplayTextFor(model => model.BusinessName)</h1>

    <div class="form-horizontal">


        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ReviewID)
        @Html.HiddenFor(model => model.AspNetUser)
        @Html.HiddenFor(model => model.BusinessName)

        <!--User name is hidden here, to not allow user to edit it-->
        <input type="hidden" value="@User.Identity.GetUserId()" name="UserID" />


        <input type="hidden" value="@Model.YelpID" name="YelpID" />


        <div class="form-group">
            @Html.LabelFor(model => model.WallScore, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.WallScore, "5") <img src="~/Content/QP1.png" style="height:35px; width:auto;" />
                @Html.RadioButtonFor(model => model.WallScore, "4") <img src="~/Content/QP2.png" style="height:35px; width:auto;" />
                @Html.RadioButtonFor(model => model.WallScore, "3") <img src="~/Content/QP3.png" style="height:35px; width:auto;" />
                @Html.RadioButtonFor(model => model.WallScore, "2") <img src="~/Content/QP4.png" style="height:35px; width:auto;" />
                @Html.RadioButtonFor(model => model.WallScore, "1") <img src="~/Content/QP5.png" style="height:35px; width:auto;" />
                @Html.ValidationMessageFor(model => model.WallScore, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">



                @Html.TextAreaFor(model => model.Comment, new { style = "width: 400px; height: 200px", @class = "form-control", placeholder = "Your thoughts" })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update Review" class="btn btn-primary" />

            </div>
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to My Reviews", "Index")
    </div>

}

&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;

<div class="form-group">
    <table class="table table-bordered">
        <tr>
            <th style="text-align: center; vertical-align: auto; background-color:lightgray;" width="20%"><img src="~/Content/QP1.png" style="height:50px; width:auto;" /></th>
            <th style="text-align: center; vertical-align: auto; background-color:lightgray;" width="20%"><img src="~/Content/QP2.png" style="height:50px; width:auto;" /></th>
            <th style="text-align: center; vertical-align: auto; background-color:lightgray;" width="20%"><img src="~/Content/QP3.png" style="height:50px; width:auto;" /></th>
            <th style="text-align: center; vertical-align: auto; background-color:lightgray;" width="20%"><img src="~/Content/QP4.png" style="height:50px; width:auto;" /></th>
            <th style="text-align: center; vertical-align: auto; background-color:lightgray;" width="20%"><img src="~/Content/QP5.png" style="height:50px; width:auto;" /></th>
        </tr>

        <tr>
            <td style="text-align: center; vertical-align: auto; background-color:lightgray;">extremely quiet</td>
            <td style="text-align: center; vertical-align: auto; background-color:lightgray;">pretty quiet</td>
            <td style="text-align: center; vertical-align: auto; background-color:lightgray;">average</td>
            <td style="text-align: center; vertical-align: auto; background-color:lightgray;">loud</td>
            <td style="text-align: center; vertical-align: auto; background-color:lightgray;">extremely loud</td>
        </tr>
    </table>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

