@model IEnumerable<ThinWalls.Models.Review>

@{
    ViewBag.Title = "My Reviews";
}

<h2>My Reviews</h2>


<table class="table table-bordered">
    <tr>
        
        <th style="text-align: center; vertical-align: auto; background-color:lightgray;">
            Business
        </th>
        <th style="text-align: center; vertical-align: auto; background-color:lightgray;">
            Meter
        </th>
        <th style="text-align: center; vertical-align: auto; background-color:lightgray;">
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th style="text-align: center; vertical-align: auto; background-color:lightgray;">Edit</th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            <!--Logic to display businesses based on this Yelp ID-->
            <a href="~/Home/Details/@Html.DisplayFor(modelItem => item.YelpID)">@Html.DisplayFor(modelItem => item.BusinessName)</a>
        </td>
       
            <td style="text-align: center; vertical-align: auto;">

                @if (item.WallScore == 5)
                {
                    <img src="~/Content/QP1.png" style="height:35px; width:auto;" />
                }
                else if (item.WallScore == 4)
                {
                    <img src="~/Content/QP2.png" style="height:35px; width:auto;" />
                }
                else if (item.WallScore == 3)
                {
                    <img src="~/Content/QP3.png" style="height:35px; width:auto;" />
                }
                else if (item.WallScore == 2)
                {
                    <img src="~/Content/QP4.png" style="height:35px; width:auto;" />
                }
                else if (item.WallScore == 1)
                {
                    <img src="~/Content/QP5.png" style="height:35px; width:auto;" />
                }
          
        </td>
        <td>
            @if (item.Comment == null)
            {
                <p1><em>No Comment</em></p1>
            }
            else
            {
            @Html.DisplayFor(modelItem => item.Comment)
            }
        </td>
        <td>
            @Html.ActionLink("Update", "Edit", new { id = item.ReviewID }, new { yelpID = item.YelpID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })

        </td>
    </tr>
}

</table>

<p>
    Want to write another review? Search businesses <a href="/Home/Index">here</a>
</p>
